In [89]:
import pandas as pd
import numpy as np
import csv as csv
from sklearn.ensemble import RandomForestClassifier

In [90]:
# Data cleanup
# TRAIN DATA
train_df = pd.read_csv('../input/train.csv', header=0)

In [91]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [92]:
train_df['Gender'] = train_df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

In [93]:
if len(train_df.Embarked[ train_df.Embarked.isnull() ]) > 0:
    train_df.Embarked[ train_df.Embarked.isnull() ] = train_df.Embarked.dropna().mode().values

Ports = list(enumerate(np.unique(train_df['Embarked'])))

g:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [94]:
Ports_dict = { name : i for i, name in Ports }

In [95]:
train_df.Embarked = train_df.Embarked.map( lambda x: Ports_dict[x]).astype(int)

In [96]:
median_age = train_df['Age'].dropna().median()
if len(train_df.Age[ train_df.Age.isnull() ]) > 0:
    train_df.loc[ (train_df.Age.isnull()), 'Age'] = median_age

In [97]:
train_df.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      28.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17     28.0
18     31.0
19     28.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     28.0
27     19.0
28     28.0
29     28.0
       ...
861    21.0
862    48.0
863    28.0
864    24.0
865    42.0
866    27.0
867    31.0
868    28.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878    28.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, dtype: float64

In [98]:
train_df = train_df.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

In [99]:
test_df

     Pclass   Age  SibSp  Parch      Fare  Embarked  Gender
0         3  34.5      0      0    7.8292         1       1
1         3  47.0      1      0    7.0000         2       0
2         2  62.0      0      0    9.6875         1       1
3         3  27.0      0      0    8.6625         2       1
4         3  22.0      1      1   12.2875         2       0
5         3  14.0      0      0    9.2250         2       1
6         3  30.0      0      0    7.6292         1       0
7         2  26.0      1      1   29.0000         2       1
8         3  18.0      0      0    7.2292         0       0
9         3  21.0      2      0   24.1500         2       1
10        3  27.0      0      0    7.8958         2       1
11        1  46.0      0      0   26.0000         2       1
12        1  23.0      1      0   82.2667         2       0
13        2  63.0      1      0   26.0000         2       1
14        1  47.0      1      0   61.1750         2       0
15        2  24.0      1      0   27.7208         0       0
16        2  35.0      0      0   12.3500         1       1
17        3  21.0      0      0    7.2250         0       1
18        3  27.0      1      0    7.9250         2       0
19        3  45.0      0      0    7.2250         0       0
20        1  55.0      1      0   59.4000         0       1
21        3   9.0      0      1    3.1708         2       1
22        1  27.0      0      0   31.6833         2       0
23        1  21.0      0      1   61.3792         0       1
24        1  48.0      1      3  262.3750         0       0
25        3  50.0      1      0   14.5000         2       1
26        1  22.0      0      1   61.9792         0       0
27        3  22.5      0      0    7.2250         0       1
28        1  41.0      0      0   30.5000         2       1
29        3  27.0      2      0   21.6792         0       1
..      ...   ...    ...    ...       ...       ...     ...
388       3  21.0      0      0    7.7500         1       1
389       3   6.0      3      1   21.0750         2       1
390       1  23.0      0      0   93.5000         2       1
391       1  51.0      0      1   39.4000         2       0
392       3  13.0      0      2   20.2500         2       1
393       2  47.0      0      0   10.5000         2       1
394       3  29.0      3      1   22.0250         2       1
395       1  18.0      1      0   60.0000         2       0
396       3  24.0      0      0    7.2500         1       1
397       1  48.0      1      1   79.2000         0       0
398       3  22.0      0      0    7.7750         2       1
399       3  31.0      0      0    7.7333         1       1
400       1  30.0      0      0  164.8667         2       0
401       2  38.0      1      0   21.0000         2       1
402       1  22.0      0      1   59.4000         0       0
403       1  17.0      0      0   47.1000         2       1
404       1  43.0      1      0   27.7208         0       1
405       2  20.0      0      0   13.8625         0       1
406       2  23.0      1      0   10.5000         2       1
407       1  50.0      1      1  211.5000         0       1
408       3  27.0      0      0    7.7208         1       0
409       3   3.0      1      1   13.7750         2       0
410       3  27.0      0      0    7.7500         1       0
411       1  37.0      1      0   90.0000         1       0
412       3  28.0      0      0    7.7750         2       0
413       3  27.0      0      0    8.0500         2       1
414       1  39.0      0      0  108.9000         0       0
415       3  38.5      0      0    7.2500         2       1
416       3  27.0      0      0    8.0500         2       1
417       3  27.0      1      1   22.3583         0       1

[418 rows x 7 columns]

In [100]:
test_df = pd.read_csv('../input/test.csv', header=0) 
test_df['Gender'] = test_df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
if len(test_df.Embarked[ test_df.Embarked.isnull() ]) > 0:
    test_df.Embarked[ test_df.Embarked.isnull() ] = test_df.Embarked.dropna().mode().values
# Again convert all Embarked strings to int
test_df.Embarked = test_df.Embarked.map( lambda x: Ports_dict[x]).astype(int)
median_age = test_df['Age'].dropna().median()
if len(test_df.Age[ test_df.Age.isnull() ]) > 0:
    test_df.loc[ (test_df.Age.isnull()), 'Age'] = median_age
if len(test_df.Fare[ test_df.Fare.isnull() ]) > 0:
    median_fare = np.zeros(3)
    for f in range(0,3):                                              # loop 0 to 2
        median_fare[f] = test_df[ test_df.Pclass == f+1 ]['Fare'].dropna().median()
    for f in range(0,3):                                              # loop 0 to 2
        test_df.loc[ (test_df.Fare.isnull()) & (test_df.Pclass == f+1 ), 'Fare'] = median_fare[f]

In [101]:
ids = test_df['PassengerId'].values
test_df = test_df.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

In [102]:
train_x = train_df.iloc[:800, 1:]
train_y = train_df.iloc[:800, 0]

test_x = train_df.iloc[800:, 1:]
test_y = train_df.iloc[800:, 0]

In [103]:
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble.bagging import DecisionTreeClassifier

from sklearn.cross_validation import cross_val_score, train_test_split

clf = [SVC, AdaBoostClassifier, RandomForestClassifier, LogisticRegression, LogisticRegressionCV, DecisionTreeClassifier]

models = [c().fit(train_df.drop('Survived', axis=1), train_df.Survived) for c in clf]
res = np.array([model.predict(test_df) for model in models])

In [104]:
predict = (res.mean(axis=0) > 0.5).astype(int)
predict.shape

(418L,)

In [105]:
predictions_file = open("myfirstforest.csv", "wb")
open_file_object = csv.writer(predictions_file)
open_file_object.writerow(["PassengerId","Survived"])
open_file_object.writerows(zip(ids, predict))
predictions_file.close()
print 'Done.'

Done.

In [128]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
clfs = RandomForestClassifier(n_estimators=200)
clfs = clfs.fit(train_x, train_y)

features = pd.DataFrame()
features['feature'] = train_x.columns
features['importance'] = models[2].feature_importances_

In [142]:
features.sort_values(by='importance', ascending=False)

    feature  importance
1       Age    0.275030
4      Fare    0.266786
6    Gender    0.259438
0    Pclass    0.080808
2     SibSp    0.046024
3     Parch    0.043402
5  Embarked    0.028512

In [145]:

from sklearn.feature_selection import SelectFromModel
model = SelectFromModel(clfs, prefit=True, threshold=0.045)
train_new = model.transform(train_x)
train_new

array([[  3.    ,  22.    ,   1.    ,   7.25  ,   1.    ],
       [  1.    ,  38.    ,   1.    ,  71.2833,   0.    ],
       [  3.    ,  26.    ,   0.    ,   7.925 ,   0.    ],
       ...,
       [  3.    ,  31.    ,   0.    ,   8.6833,   0.    ],
       [  3.    ,  30.    ,   0.    ,   7.2292,   1.    ],
       [  3.    ,  30.    ,   1.    ,  24.15  ,   0.    ]])